* {margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}



nav ul {
    list-style-type: none;
    display: none ;
}


/* esta es para toggle la barra del menu */
.abrir {
    display: flex;
    flex-direction: column;
}

nav ul a {
    text-decoration: none;
}

.titulo img {
   max-width: 5rem;
}


table{
    margin: 20px;
    border-collapse: separate;
    border-spacing: 25px 25px; /* horizontal (columnas), vertical (filas) */
}

td {padding: 10px;
    text-align: center;}

 td p {margin: 10px;}   


@media screen and (min-width: 550px) {

    

    header {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    
    }
   
    .titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
        list-style-type: none;
    }
    
    header nav svg {
        display: none;
    }
}