*{padding:0;
 margin: 0;
}

table{
    margin: 20px;
    border-collapse: separate;
    border-spacing: 25px 25px; /* horizontal (columnas), vertical (filas) */
}

td {padding: 10px;
    text-align: center;}

 td p {margin: 10px;}   

/*.diagonal{
    background: linear-gradient(#000000, #474747);
}



.fondo{
    max-width: 75px; max-height: 75px; overflow: auto;
     
    height:auto;
    color: white;
    background-image:url(../borradores/fondo.jpeg);
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center;
}
